{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/styles/panier.css" type="text/css">
{% endblock %}

{% block content %}
<main>
    <div class="principale">
        <div class="principale-titre">
            <h3>Mon panier</h3>
        </div>
        <div class="principale-main">
            {% if (panier|length > 0) %}
            <div class="product-list">
                {% for produit in panier%}
                    <div  class="produit">
                        <div class="produit-image">
                            <img src="/images/{{ produit.getType().getImage() }}" alt="">
                        </div>
                        <div class="produit-nom">
                            <p>{{ produit.getType().getNom() }}</p>
                        </div>
                        <div class="produit-informations">
                            <p>Taille : {{ produit.getTaille() }}</p>
                            <p>Couleur : {{ produit.getCouleur() }}</p>
                            <p>Prix : {{ produit.getType().getPrix()}} €</p>
                        </div>
                        <div class="produit-options">

                            {# <div class="option-quantite"> #}
                            {#    <a href="" class="btn btn-primary disabled">+</a> #}
                            {# <p>1</p> #}
                            {# <a href="" class="btn btn-outline-primary disabled">-</a>#}
                            {# </div> #}
                            <div class="option-retirer">
                                <a href="{{ path("app_retirer_article", {"produit_id" : produit.id})}}" class="btn btn-warning">Retirer</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="principale-footer">
                <a href="{{ path("app_vider_panier", ) }}" class="btn btn-danger">Vider le panier</a>
                <a href="{{ path("app_valider_panier") }}" class="btn btn-success">Valider le panier</a>
            </div>
            {% else %}
            <div class="vide">
                <h3>C'est vide :'(</h3>
            </div>
            {% endif %}
        </div>

    </div>
</main>
{% endblock %}
