{% block stylesheets%}
<link rel="stylesheet" href={{asset('/styles/header.css')}} type="text/css">
{% endblock %}
{% block header %}
<header>
    <div class="header header_classique">
        <div id="header_top">
            <div class="bloc">
                
            </div>
            <div class="bloc">
                <a href="{{ path("app_accueil") }}" class="flow-link">
                    <h1 id="titre">
                        <span>F</span>
                        <span>low</span>
                    </h1>
                </a>

            </div>
            <div class="bloc" id="icones">
                <a href="{{ path("app_profil") }}"><img src="/icones/profil.png" alt="icone profil"></a>
                <a href=""><img src="/icones/favoris.png" alt="icone favoris"></a>
                <a href="{{ path("app_panier") }}"><img src="/icones/panier.png" alt="icone panier"></a>
                {% if (app.user) %}
                    <a href="{{ path("app_logout") }}" class="btn btn-outline-danger logout">Se deconnecter</a>
                {% endif %}
            </div>
        </div>

        <div id="header_bot">
            <div id="categories">
                <div id="barre">
                    <a href="" target="_blank" rel="noopener noreferrer">Ensembles</a>
                </div>
                <div id="barre">
                    <a href="" target="_blank" rel="noopener noreferrer">Femmes</a>
                </div>
                <div id="barre">
                    <a href="" target="_blank" rel="noopener noreferrer">Hommes</a>
                </div>
                <div id="barre">
                    <a href="" target="_blank" rel="noopener noreferrer">Enfants</a>
                </div>
            </div>

            <div class="search-box">
                <input type="search" name="" class="search-txt" placeholder="Tapez pour rechercher" value=""/>
                <a class="search-btn" >
                  <i class="fa fa-search" aria-hidden="true"></i>
                </a>
              </div>

        </div>
        
    </div>
</header>
{% endblock %}