{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{asset('styles/login.css')}} type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% endblock %}

{% set email = app.session.get('email') %}

{% block header %}
    {% include asset('headers/simple_header.html.twig') %}
{% endblock %}

{% block content %}

    {# {{ form_row(registrationForm.plainPassword, {'attr' : {'class' : 'input_login', 'placeholder' : ''} }) }}  {{ form_label(registrationForm.plainPassword) }}#}
    <main>
        <div class="principale">
            <div class="principale-texte">
                <p class="title">Inscription</p>
                <p class="subtitle">Remplissez le formulaire pour vous inscrire</p>
            </div>
            <div class="principale-form">
                {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm, {'attr' : {'class' : 'main-form'} }) }}
                <div class="choose">
                    {% for choice in registrationForm.sexe %}
                        <div>
                            {{ form_widget(choice, {'attr' : { 'class': ''} }) }}
                            {{ form_label(choice) }}
                        </div>
                    {% endfor %}
                </div>
                <div class="champ">
                    {{ form_widget(registrationForm.email, {'attr' : {'class' : 'input_login', 'placeholder' : '', 'autocomplete' : 'new-email'} }) }}
                    <label for="email" class="input_label">E-mail</label>
                </div>
                <div class="champ">
                    {{ form_widget(registrationForm.nom, {'attr' : {'class' : 'input_login', 'placeholder' : '', 'autocomplete' : 'off'} }) }}
                    <label for="nom" class="input_label">Nom</label>
                </div>
                <div class="champ">
                    {{ form_widget(registrationForm.prenom, {'attr' : {'class' : 'input_login', 'placeholder' : '', 'autocomplete' : 'off'} }) }}
                    <label for="prenom" class="input_label">Prénom</label>
                </div>
                <div class="champ">
                    {{ form_widget(registrationForm.password.first, {'attr' : {'class' : 'input_login', 'placeholder' : '', 'autocomplete' : 'new-password', 'required' : true} }) }}
                    <label for="password1" class="input_label">Mot de passe</label>
                </div>
                <div class="champ">
                    {{ form_widget(registrationForm.password.second, {'attr' : {'class' : 'input_login', 'placeholder' : '', 'autocomplete' : 'new-password'} }) }}
                    <label for="password2" class="input_label">Confirmer mot de passe</label>
                </div>
                <input type="submit" class="envoyer" value="S'inscrire" >

                <a href='{{ path('app_login') }}' }} class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                style="transition: .2s ease-in-out; font-size: 16px;">Se connecter</a>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %} {% endblock %}

