{% extends 'admin/base.html.twig' %}

{% block gestion %}
    <div class="gestion">
        <h1>Gestion utilisateurs</h1>

        {{ form_errors(addUserForm) }}
        {{ form_start(addUserForm, {'attr' : {'id' : 'form-article'}}) }}
            {{ form_label(addUserForm.email,'E-mail :') }}
            {{ form_widget(addUserForm.email, {'attr' : {'name' : 'mail'}}) }}

            {{ form_widget(addUserForm.password, {'attr' : {'name' : 'mdp'}}) }}

            {{ form_label(addUserForm.nom,'Nom :') }}
            {{ form_widget(addUserForm.nom, {'attr' : {'name' : 'nom'}}) }}

            {{ form_label(addUserForm.prenom,"Prenom :") }}
            {{ form_widget(addUserForm.prenom, {'attr' : {'name' : 'prenom'}}) }}

            {{ form_label(addUserForm.sexe,'Sexe :') }}
            {{ form_widget(addUserForm.sexe, {'attr' : {'name' : 'sexe'}}) }}

            {{ form_label(addUserForm.adresse,'Adresse :') }}
            {{ form_widget(addUserForm.adresse, {'attr' : {'name' : 'adresse'}}) }}

            {{ form_label(addUserForm.tel,"Numéro de téléphone :") }}
            {{ form_widget(addUserForm.tel, {'attr' : {'name' : 'num-tel'}}) }}

            {{ form_widget(addUserForm.submit) }}
        {{ form_end(addUserForm) }}


        <div class="list">
                {% for user in users %}
                    {% if ("ROLE_USER" in user.roles || "user" in user.roles) %}
                <div  class="item">
                    <p>Email : {{ user.email }} </p>
                    <p>Nom : {{ user.nom }} </p>
                    <p>Prénom : {{ user.prenom }} </p>
                    <a href={{ path('app_admin_user_remove', {'user_id' : user.id}) }} class="btn btn-warning">Supprimer</a>
                </div>
                    {% endif %}
                {% endfor %}
                
            </div>
        </div>
    </div>
{% endblock %}