{% extends 'base.html.twig' %}
{% block title %} Historique transactions {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{asset('/styles/historique_transaction.css')}} type="text/css"><link rel="stylesheet" href="/styles/interface_utilisateur.css" type="text/css">
{% endblock %}

{% block content %}
    <div class="contenu">
        <div class="leftside">
            <div class="lefts">
                <a href="/profil"> <div class="not_select"> Mes infos perso </div> </a>
                <a href="/profil/historique-commandes"> <div class="select"> Historique commandes </div> </a>
                <a href="/profil/bons-d-achat"> <div class="not_select"> Bons d'achat </div> </a>
                <a href="/profil/support-client"> <div class="not_select"> Support client </div> </a>
            </div>
        </div>
        <div class="rightside">
            <ul class="elt_transaction">
                    <div class="ht_head">
                        <div class="ht_transac_id"> Commande#012345 </div>
                        <div class="ht_date"> 01/12/2023 </div>
                    </div>
                <div id="ITEMS">
                <div class="ht_items">
                    <div class="ht_data">
                        <div class="item_name">Pull d'hiver</div>
                    </div>
                    <div class="ht_data">
                        <div class="item_quantity">Quantité : 3</div>
                    </div>
                    <div class="ht_data">
                        <div class="price">
                            <div class="item_price">Prix : 30.00€</div>
                            <div class="item_solo_price">Prix unitaire : 10.00€</div>
                        </div>
                    </div>
                </div>
                <div class="ht_items">
                    <div class="ht_data">
                        <div class="item_name">Pull d'hiver</div>
                    </div>
                    <div class="ht_data">
                        <div class="item_quantity">Quantité : 3</div>
                    </div>
                    <div class="ht_data">
                        <div class="price">
                            <div class="item_price">Prix : 30.00€</div>
                            <div class="item_solo_price">Prix unitaire : 10.00€</div>
                        </div>
                    </div>
                </div>
                <div class="ht_items">
                    <div class="ht_data">
                        <div class="item_name">Pull d'hiver</div>
                    </div>
                    <div class="ht_data">
                        <div class="item_quantity">Quantité : 3</div>
                    </div>
                    <div class="ht_data">
                        <div class="price">
                            <div class="item_price">Prix : 30.00€</div>
                            <div class="item_solo_price">Prix unitaire : 10.00€</div>
                        </div>
                    </div>
                </div>
                </div>
                    <div class="ht_foot">
                        <img class="ht_arrow" src= "{{ asset('images/fleche.png') }}">
                        <img class="ht_arrow2" src= "{{ asset('images/fleche.png') }}">
                        <div class="ht_fdp"> <div> Frais de port : 4.99€ </div> </div>
                        <div class="ht_prix"> <div> Prix total : 564.97€ </div> </div>
                    </div>
            </ul>
            <ul class="elt_transaction">
                <div class="ht_head">
                    <div class="ht_transac_id"> Commande#012345 </div>
                    <div class="ht_date"> 01/12/2023 </div>
                </div>
                <div id="ITEMS">
                    <div class="ht_items">
                        <div class="ht_data">
                            <div class="item_name">Pull d'hiver</div>
                        </div>
                        <div class="ht_data">
                            <div class="item_quantity">Quantité : 3</div>
                        </div>
                        <div class="ht_data">
                            <div class="price">
                                <div class="item_price">Prix : 30.00€</div>
                                <div class="item_solo_price">Prix unitaire : 10.00€</div>
                            </div>
                        </div>
                    </div>
                    <div class="ht_items">
                        <div class="ht_data">
                            <div class="item_name">Pull d'hiver</div>
                        </div>
                        <div class="ht_data">
                            <div class="item_quantity">Quantité : 3</div>
                        </div>
                        <div class="ht_data">
                            <div class="price">
                                <div class="item_price">Prix : 30.00€</div>
                                <div class="item_solo_price">Prix unitaire : 10.00€</div>
                            </div>
                        </div>
                    </div>
                    <div class="ht_items">
                        <div class="ht_data">
                            <div class="item_name">Pull d'hiver</div>
                        </div>
                        <div class="ht_data">
                            <div class="item_quantity">Quantité : 3</div>
                        </div>
                        <div class="ht_data">
                            <div class="price">
                                <div class="item_price">Prix : 30.00€</div>
                                <div class="item_solo_price">Prix unitaire : 10.00€</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ht_foot">
                    <img class="ht_arrow" src= "{{ asset('images/fleche.png') }}">
                    <img class="ht_arrow2" src= "{{ asset('images/fleche.png') }}">
                    <div class="ht_fdp"> <div> Frais de port : 4.99€ </div> </div>
                    <div class="ht_prix"> <div> Prix total : 564.97€ </div> </div>
                </div>
            </ul>
            <ul class="elt_transaction">
                <div class="ht_head">
                    <div class="ht_transac_id"> Commande#012345 </div>
                    <div class="ht_date"> 01/12/2023 </div>
                </div>
                <div id="ITEMS">
                    <div class="ht_items">
                        <div class="ht_data">
                            <div class="item_name">Pull d'hiver</div>
                        </div>
                        <div class="ht_data">
                            <div class="item_quantity">Quantité : 3</div>
                        </div>
                        <div class="ht_data">
                            <div class="price">
                                <div class="item_price">Prix : 30.00€</div>
                                <div class="item_solo_price">Prix unitaire : 10.00€</div>
                            </div>
                        </div>
                    </div>
                    <div class="ht_items">
                        <div class="ht_data">
                            <div class="item_name">Pull d'hiver</div>
                        </div>
                        <div class="ht_data">
                            <div class="item_quantity">Quantité : 3</div>
                        </div>
                        <div class="ht_data">
                            <div class="price">
                                <div class="item_price">Prix : 30.00€</div>
                                <div class="item_solo_price">Prix unitaire : 10.00€</div>
                            </div>
                        </div>
                    </div>
                    <div class="ht_items">
                        <div class="ht_data">
                            <div class="item_name">Pull d'hiver</div>
                        </div>
                        <div class="ht_data">
                            <div class="item_quantity">Quantité : 3</div>
                        </div>
                        <div class="ht_data">
                            <div class="price">
                                <div class="item_price">Prix : 30.00€</div>
                                <div class="item_solo_price">Prix unitaire : 10.00€</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ht_foot">
                    <img class="ht_arrow" src= "{{ asset('images/fleche.png') }}">
                    <img class="ht_arrow2" src= "{{ asset('images/fleche.png') }}">
                    <div class="ht_fdp"> <div> Frais de port : 4.99€ </div> </div>
                    <div class="ht_prix"> <div> Prix total : 564.97€ </div> </div>
                </div>
            </ul>
            <ul class="elt_transaction">
                <div class="ht_head">
                    <div class="ht_transac_id"> Commande#012345 </div>
                    <div class="ht_date"> 01/12/2023 </div>
                </div>
                <div id="ITEMS">
                    <div class="ht_items">
                        <div class="ht_data">
                            <div class="item_name">Pull d'hiver</div>
                        </div>
                        <div class="ht_data">
                            <div class="item_quantity">Quantité : 3</div>
                        </div>
                        <div class="ht_data">
                            <div class="price">
                                <div class="item_price">Prix : 30.00€</div>
                                <div class="item_solo_price">Prix unitaire : 10.00€</div>
                            </div>
                        </div>
                    </div>
                    <div class="ht_items">
                        <div class="ht_data">
                            <div class="item_name">Pull d'hiver</div>
                        </div>
                        <div class="ht_data">
                            <div class="item_quantity">Quantité : 3</div>
                        </div>
                        <div class="ht_data">
                            <div class="price">
                                <div class="item_price">Prix : 30.00€</div>
                                <div class="item_solo_price">Prix unitaire : 10.00€</div>
                            </div>
                        </div>
                    </div>
                    <div class="ht_items">
                        <div class="ht_data">
                            <div class="item_name">Pull d'hiver</div>
                        </div>
                        <div class="ht_data">
                            <div class="item_quantity">Quantité : 3</div>
                        </div>
                        <div class="ht_data">
                            <div class="price">
                                <div class="item_price">Prix : 30.00€</div>
                                <div class="item_solo_price">Prix unitaire : 10.00€</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ht_foot">
                    <img class="ht_arrow" src= "{{ asset('images/fleche.png') }}">
                    <img class="ht_arrow2" src= "{{ asset('images/fleche.png') }}">
                    <div class="ht_fdp"> <div> Frais de port : 4.99€ </div> </div>
                    <div class="ht_prix"> <div> Prix total : 564.97€ </div> </div>
                </div>
            </ul>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script src="{{ asset("/scripts/histo_transac.js") }}" ></script>
{% endblock %}