{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href={{asset('/styles/infos_perso.css')}} type="text/css"><link rel="stylesheet" href="/styles/interface_utilisateur.css" type="text/css">
{% endblock %}

{% block content %}
<div class="contenu">
    <div class="leftside">
        <div class="lefts">
            <a href="/profil"> <div class="select"> Mes infos perso </div> </a>
            <a href="/profil/historique-commandes"> <div class="not_select"> Historique transactions </div> </a>
            <a href="/profil/bons-d-achat"> <div class="not_select"> Bons d'achat </div> </a>
            <a href="/profil/support-client"> <div class="not_select"> Support client </div> </a>
        </div>
    </div>
    <div class="rightside">
        <div class="titre_categorie"> Mes infos perso </div>

        <nav class="navbar navbar-expand-lg" style="background: transparent">
            <a href="/profil" class="nav-link">Mes coordonneés</a>
            <a href="/profil/changer-mot-de-passe" class="nav-link">Changer mot de passe</a>
        </nav>
        {{ form_errors(profilForm) }}
        {{ form_start(profilForm) }}
            <div class="champ">
                {{ form_widget(profilForm.email, {'attr' : {'value': app.user.email ,'class' : 'input_login', 'placeholder' : '', 'autocomplete' : 'new-email'} }) }}
                <label for="email" class="input_label">E-mail</label>
            </div>

            <div class="nom-prenom">
                <div class="champ">
                    {{ form_widget(profilForm.nom, {'attr' : { 'value': app.user.nom ,'class' : 'input_login', 'placeholder' : '', 'autocomplete' : 'off', 'pattern' : '/^[a-zA-Zéèàôç\-\s]+$/u'} }) }}
                    <label for="nom" class="input_label">Nom</label>
                </div>
                <div class="champ">
                    {{ form_widget(profilForm.prenom, {'attr' : {'value': app.user.prenom  ,'class' : 'input_login', 'placeholder' : '', 'autocomplete' : 'off', 'pattern' : '/^[a-zA-Zéèàôç\-\s]+$/u'} }) }}
                    <label for="prenom" class="input_label">Prénom</label>
                </div>
            </div>

            <div class="champ">
                {{ form_widget(profilForm.adresse, {'attr' : {'value': app.user.adresse ,'class' : 'input_login', 'placeholder' : '', 'autocomplete' : 'off'} }) }}
                <label for="adresse" class="input_label">Adresse</label>
            </div>

            <div class="champ">
                {{ form_widget(profilForm.tel, {'attr' : {'value': app.user.tel,'class' : 'input_login', 'placeholder' : '', 'autocomplete' : 'off', 'pattern':'^[0-9]+$'} }) }}
                <label for="tel" class="input_label">Numéro de téléphone</label>
            </div>

            <div class="choose">
                {% for choice in profilForm.sexe %}
                    <div>
                        {{ form_widget(choice, {'attr' : { 'class': 'form-check-input'} }) }}
                        {{ form_label(choice) }}
                    </div>
                {% endfor %}
            </div>

            <input type="submit" class="btn btn-outline-danger valider" value="Enregistrer les informations">
        {{ form_end(profilForm) }}
    </div>


</div>

<script src="{{ asset("infos_perso.js") }}" ></script>
{% endblock %}
