{% extends 'admin/base.html.twig' %}

{% block gestion %}
    <div class="gestion">
        <h1>Gestion exemplaires</h1>
        {{ form_errors(addExemplaireForm) }}
        {{ form_start(addExemplaireForm, {'attr' : {'id' : 'form-article'}}) }}
            {{ form_label(addExemplaireForm.type,'Type :') }}
            {{ form_widget(addExemplaireForm.type, {'attr' : {'name' : 'type'}}) }}

            {{ form_label(addExemplaireForm.taille,'Taille :') }}
            {{ form_widget(addExemplaireForm.taille, {'attr' : {'name' : 'taille'}}) }}

            {{ form_label(addExemplaireForm.couleur,'Couleur :') }}
            {{ form_widget(addExemplaireForm.couleur, {'attr' : {'name' : 'couleur'}}) }}
            {{ form_widget(addExemplaireForm.submit) }}
        {{ form_end(addExemplaireForm) }}


        <div class="list">
            {% for exemplaire in exemplaires %}
                <div  class="item">
                <p>Nom : {{ exemplaire.type.nom}} </p>
                <p>Marque : {{ exemplaire.type.marque }} </p>
                <p>Taille : {{ exemplaire.taille }} </p>
                <p>Couleur : {{ exemplaire.couleur}} </p>
                <a href={{ path('app_admin_exemplaire_remove', {'exemplaire_id' : exemplaire.id}) }} class="btn btn-warning">Supprimer</a>
            </div>
            {% endfor %}
            
        </div>
    </div>    
{% endblock %}