<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ asset('styles/admin.css') }}>
    <title>Admin</title>
</head>
<body>
    <a href="{{ path('app_logout') }}">Se deconnecter</a>
    <a href="{{ path('app_admin_user') }}">Gestion des utilisateurs</a>
    <a href="{{ path('app_admin_article') }}">Gestion des articles</a>
    <a href="{{ path('app_admin_exemplaire') }}">Gestion des exemplaires</a>
</body>