<div class="article" >
    <a class="lien" href= "{{ path('app_produit', {'produit_id' : article.id}) }}">
        <div class="partie_article" >
            <div class="prix_favoris">
                <div class="prix"> {{ article.prix }} €</div>
            </div>
            <img class="image_article" src={{ asset("images/" ~ article.image )}}>
            <div class="desc_article"> {{ article.nom }} </div>
        </div>
    </a>
    {% if favoris %} <button onclick="redirectToPage('{{ path('accueil_add_favoris', {'article_id' : article.id}) }}')" id="heart" class="favoris_article{% if article in favoris %} clicked{% endif %}"></button>
    {% else %} <button onclick="redirectToPage('{{ path('accueil_add_favoris', {'article_id' : article.id}) }}')" id="heart" class="favoris_article"></button>
    {% endif %}

</div>
