<a class="article" href= "{{ path('app_produit', {'produit_id' : article.id}) }}">
    <div class="partie_article" >
        <div class="prix_favoris">
            <div class="prix"> {{ article.prix }} €</div>
             <button href="{{ path('accueil_add_favoris', {'article_id' : article.id}) }}" id="heart" class="favoris_article"></button>
        </div>
        <img class="image_article" src="images/{{ article.image }}">
        <div class="desc_article"> {{ article.nom }} </div>
    </div>
</a>
